{% if page.date-formatted -%}
    {%- assign _pPubDate = page.date-formatted -%}
{%- else %}
    {% if page.date -%}
        {%- assign _pPubDate = page.date | date: "%-d/%B/%Y" -%}
    {%- else -%}
        {%- assign _pPubDate = "Unknown" -%}
    {%- endif -%}
{%- endif -%}


{% if page.last-modified-date-formatted -%}
    {%- assign _pLastModDate = page.last-modified-date-formatted -%}
{%- else %}
    {% if page.last-modified-date -%}
        {%- assign _pLastModDate = page.last-modified-date | date: "%-d/%B/%Y" -%}
    {%- else -%}
        {%- assign _pLastModDate = "" -%}
    {%- endif -%}
{%- endif -%}

{%- if page.authors -%}
    {%- assign _tempArray = page.authors -%}
    {%- case _tempArray.size -%}
        {%- when 0 -%}
            {%- assign _authorCount = 0 -%}
            {%- assign _authors = "" -%}
        {%- when 1 -%}
            {%- assign _authorCount = 1 -%}
            {%- assign _authors = _tempArray[0] | strip -%}     
        {%- else -%}
            {%- assign _authorCount =  _tempArray.size -%}
            {%- for author in _tempArray -%}
                {%- assign author = author | strip -%}
                {%- if forloop.first -%}
                    {%- assign _authors = author -%}     
                {%- else -%}
                    {%- assign _authors = _authors | append: ", " | append: author -%}     
                {%- endif -%}
            {%- endfor -%}             
    {%- endcase -%}
{%- else -%}
    {%- assign _authorCount = 0 -%}
    {%- assign _authors = "" -%}
{%- endif -%}

{%- if page.editors -%}
    {%- assign _tempArray = page.editors -%}
    {%- case _tempArray.size -%}
        {%- when 0 -%}
            {%- assign _editorCount = 0 -%}
            {%- assign _editors = "" -%}
        {%- when 1 -%}
            {%- assign _editorCount = 1 -%}
            {%- assign _editors = _tempArray[0] | strip -%}     
        {%- else -%}
            {%- assign _editorCount =  _tempArray.size -%}
            {%- for editor in _tempArray -%}
                {%- assign editor = editor | strip -%}
                {%- if forloop.first -%}
                    {%- assign _editors = editor -%}     
                {%- else -%}
                    {%- assign _editors = _editors | append: ", " | append: editor -%}     
                {%- endif -%}
            {%- endfor -%}             
    {%- endcase -%}
{%- else -%}
    {%- assign _editorCount = 0 -%}
    {%- assign _editors = "" -%}
{%- endif -%}

{%- if page.tags -%}
    {%- assign _tempArray = page.tags -%}
    {%- case _tempArray.size -%}
        {%- when 0 -%}
            {%- assign _tagCount = 0 -%}
            {%- assign _tags = "" -%}
        {%- when 1 -%}
            {%- assign _tagCount = 1 -%}
            {%- assign _tag = _tempArray[0] -%}
            {%- assign _tagLower = _tag | downcase -%}
            {%- assign _tags = '<a href="/blog/tags/' | append: _tagLower | append:'/">' | append: _tag | append: '</a>' -%}
        {%- else -%}
            {%- assign _tagCount =  _tempArray.size -%}
            {%- for tag in _tempArray -%}
                {%- assign tagLower = tag | downcase | strip -%}
                {%- if forloop.first -%}
                    {%- assign _tags = '<a href="/blog/tags/' | append: tagLower | append:'/">' | append: tag | append: '</a>' -%}
                {%- else -%}
                    {%- assign _tags = _tags | append: ',&nbsp;<a href="/blog/tags/' | append: tagLower | append:'/">' | append: tag | append: '</a>' -%}
                {%- endif -%}
            {%- endfor -%}             
    {%- endcase -%}
{%- else -%}
    {%- assign _tagCount = 0 -%}
    {%- assign _tags = "" -%}
{%- endif -%}
