<header class="header-area">
    <div class="header-title">
        {% if site.under-development %}
        <p class="provisional">Under Development</p>
        {% endif %}
        <p class="title">{{site.title | strip}}</p>    
    </div>
    <nav class="header-nav">
        {% for menu in site.data.menu-top %}
            <p class="item {%- if page.permalink == menu.permalink_compare %} current{%- endif -%}"><a href="{{menu.permalink_to_use}}">{{menu.name}}</a></p>
        {% endfor %}
    </nav>  
</header>  
<div class="clear-both"></div>
