.article-left{
    margin: 0 auto 0 auto;
    border: 0;
    padding: 0;
    width: 98%;
}
.article-left .title {
    margin: 0;
    border: 0;
    padding: 0;
}
.article-left .published {
    margin: 0.3em 0 0 0;
    border: 0;
    padding: 0;
    font-size: 1.1rem;
}
@media screen and (min-width: 480px) {
    .article-left  {
        width:98%;
    }
    .article-left .published {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 768px) {
    .article-left {
        width:100%;
    }
    .article-left .published {
        font-size: 1.4rem;
    }
}


.article-left .float-image-left-01 {
    float: left;
    margin: 0.3em 1em 0.25em 0;
    border: 1px solid black;
    padding: 0;
    width: 50%;
    max-width: 50%;
}

.article-left .float-image-right-01 {
    float: right;
    margin: 0.3em 0 0.25em 1em;
    border: 1px solid black;
    padding: 0;
    width: 50%;
    max-width: 50%;
}

.article-left .image-center-landscape-01 {
    clear: both;
    display: block;
    text-align: center;
    margin: 1em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 90%;
}

.article-left .image-center-portrait-01 {
    clear: both;
    display: block;
    text-align: center;
    margin: 1em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 40%;
}

@media screen and (min-width: 480px) {
    .article-left .float-image-left-01 {
        width: 40%;
        max-width: 350px;
    }
    .article-left .float-image-right-01 {
        width: 40%;
        max-width: 350px;
    }
    .article-left .image-center-landscape-01 {
        width: 80%;
    }
    .article-left .image-center-portrait-01 {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .article-left .float-image-left-01 {
        width: 40%;
        max-width: 350px;
    }
    .article-left .float-image-right-01 {
        width: 40%;
        max-width: 350px;
    }
    .article-left .image-center-landscape-01 {
        width: 70%;
    }
    .article-left .image-center-portrait-01 {
        width: 30%;
    }
}
