.category-list {
    margin: 0 auto 0 auto;
    border: 0;
    padding: 0;
    width: 98%;
}
@media screen and (min-width: 480px) {
    .category-list {
        width:98%;
    }
}
@media screen and (min-width: 768px) {
    .category-list {
        width:100%;
    }
} 


.category-list .links p {
    margin: 0.40em 0 0 0;
    border: 0;
    padding: 0;
    line-height: 1;
}
@media screen and (min-width: 480px) {
    .category-list .links p{
        margin: 0.50em 0 0 0;
        border: 0;
        padding: 0;
        line-height: 1;
    }
}
@media screen and (min-width: 768px) {
    .category-list .links p{
        margin: 0.60em 0 0 0;
        border: 0;
        padding: 0;
        line-height: 1;
    }
}
