:root {
    font-size: 0.8rem;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 1;
}

body {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    border: 0;
    padding: 0;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

/* Lobotomised Owl - this causes problems when leaflet is used for a map. */
body * + * {
    margin-top: 0.8em;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    font-size: 1.2rem;
}
li {
    font-size: 1.2rem;
}

@media screen and (min-width: 480px) {
    body {
        line-height: 1.4;
    }
    body * + * {
        margin-top: 0.9em;
    } 
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.35rem;
    }
    h4 {
        font-size: 1.35rem;
    }
    p {
        font-size: 1.35rem;
    }
    li {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        line-height: 1.5;
    }

    body * + * {
        margin-top: 1.0em;
    } 

    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    li {
        font-size: 1.5rem;
    }
}

a:link {
    color: green;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a:active {
    color:  green;
    text-decoration: none;
}

ul {
    padding-left: 1.1em;
}
li {
    list-style: disc; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.15em;
}

@media screen and (min-width: 480px) {    
    ul {
        padding-left: 1.25em;
    }
}

@media screen and (min-width: 768px) {    
    ul {
        padding-left: 1.4em;
    }
}


.header-provisional {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 1.0rem;
}

@media screen and (min-width: 480px) {    
    .header-provisional {
        color: green;
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 768px) {     
    .header-provisional {
        color: red;
        font-size: 1.3rem;
    }
}


.header-plain{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 0;
    padding-bottom: 0.5em;
}

@media screen and (min-width: 480px) {    
    .header-plain {
        font-size: 1.45rem;
    }
}

@media screen and (min-width: 768px) {     
    .header-plain {
        font-size: 1.6rem;
    }
}
