.daily-photo {
    margin: 0 auto 3em auto;
    border: 0;
    padding: 0;
    width: 98%;
}
@media screen and (min-width: 480px) {
    .daily-photo {
        width:90%;
    }
}
@media screen and (min-width: 768px) {
    .daily-photo {
        width:70%;
    }
}

.daily-photo h1 {
    text-align: center;
}
.daily-photo h2 {
    text-align: center;
}
.daily-photo h3 {
    text-align: center;
}
.daily-photo h4 {
    text-align: center;
}
.daily-photo h5 {
    text-align: center;
}
.daily-photo h6 {
    text-align: center;
}
.daily-photo p {
    text-align: center;
}

.daily-photo p .image-landscape {
    clear: both;
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    padding: 0;
    width: 100%;
}

.daily-photo p .image-portrait {
    clear: both;
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    padding: 0;
    width: 60%;
}

@media screen and (min-width: 480px) {
    .daily-photo p .image-portrait {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .daily-photo p .image-portrait {
        width: 40%;
    }
}

/* --------------------------------------------------------------------------- */

.daily-photo-bottom {
    margin-top: 2em;
    width: 100%;
}
.daily-photo-bottom > p {    
    line-height: 1.2;
    margin-top: 0.4px;
    font-size: 1.0rem;
}
@media screen and (min-width: 480px) {
    .daily-photo-bottom p {   
        line-height: 1.3;
        margin-top: 0.4px;
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 768px) {
    .daily-photo-bottom p {   
        line-height: 1.4;
        margin-top: 0.4px;
        font-size: 1.2rem;
    }
}
