/* -------------------------
   To do with the home page.
   ---------------------- */

.article-area .home-image-left {
    max-width: 30%;
    float: left;
    margin: 1.2em 1em 0 0;
    border: 0;
    padding: 0;
}
.article-area .home-image-left img {
    max-width: 100%;
    margin: 0;
    border: 1px solid black;
    padding: 0;
}

.article-area .home-image-right {
    max-width: 30%;
    float: right;
    margin: 1.2em 0 0 1em;
    border: 0;
    padding: 0;
}
.article-area .home-image-right img {
    max-width: 100%;
    margin: 0;
    border: 1px solid black;
    padding: 0;
}

@media screen and (min-width: 500px) {
    .article-area .home-image-left {
        min-width: 25%;
        margin: 1.5em 1em 0 0;
    }   
    .article-area .home-image-right {
        min-width: 25%;
        margin: 1.5em 0 0 1em;
    }
}
