.standard-centre {
    margin: 0;
    border: 0;
    padding: 0;
}

.standard-centre h1 {
    text-align: center;
}
.standard-centre h2 {
    text-align: center;
}
.standard-centre h3 {
    text-align: center;
}
.standard-centre h4 {
    text-align: center;
}
.standard-centre h5 {
    text-align: center;
}
.standard-centre h6 {
    text-align: center;
}
.standard-centre p {
    text-align: center;
}

.standard-centre .image-center-landscape {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 90%;
}

.standard-centre .image-center-portrait {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 60%;
}

@media screen and (min-width: 550px) {
    .standard-centre .image-center-landscape {
        width: 60%;
        border: 1px solid black;
    }
    .standard-centre .image-center-portrait {
        width: 30%;
        border: 1px solid black;
    }
}