.standard-centre {
    margin: 0;
    border: 0;
    padding: 0;
}

.standard-centre h1 {
    text-align: center;
}
.standard-centre h2 {
    text-align: center;
}
.standard-centre h3 {
    text-align: center;
}
.standard-centre h4 {
    text-align: center;
}
.standard-centre h5 {
    text-align: center;
}
.standard-centre h6 {
    text-align: center;
}
.standard-centre p {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

.standard-centre p .image-center-landscape {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 100%;
}

.standard-centre p .image-center-portrait {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 50%;
}

@media screen and (min-width: 480px) {
    .standard-centre p {
        margin-left: 5%;
        margin-right: 5%;
    }
    .standard-centre p .image-center-landscape {
        width: 90%;
    }
    .standard-centre p .image-center-portrait {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .standard-centre p {
        margin-left: 5%;
        margin-right: 5%;
    }
    .standard-centre p .image-center-landscape {
        width: 80%;
    }
    .standard-centre p .image-center-portrait {
        width: 40%;
    }
}

/* --------------------------------------------------------------------------- */

.daily-photo-link {
    margin: 0.2em 0 0 0;
    border: 0;
    padding: 0;
    line-height: 1;
}

.daily-photo-bottom {
    margin: 1.5em 0 0 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.daily-photo-bottom > p {    
    margin: 0.4em 0 0 0; 
    line-height: 1.0;
    font-size: 1.1rem;
}

@media screen and (min-width: 480px) {
    .daily-photo-bottom {
        margin: 1.5em 0 0 0;
    }    
    .daily-photo-bottom > p {   
        margin: 0.4em 0 0 0; 
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .daily-photo-bottom {
        margin: 1.5em 0 0 0;
    }    
    .daily-photo-bottom > p {   
        margin: 0.4em 0 0 0; 
        font-size: 1.3rem;
    }
}

/* --------------------------------------------------------------------------- */

.post-published {
    font-size: 1.1rem;
    margin: 0.2em 0 0 0;
    border: 0;
    padding: 0;
}

.post-bottom {
    margin: 1.5em 0 0 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.post-bottom > p {    
    margin: 0.4em 0 0 0; 
    line-height: 1.0;
    font-size: 1.1rem;
}

@media screen and (min-width: 480px) {
    .post-published {
        font-size: 1.25rem;
    }
    .post-bottom {
        margin: 1.5em 0 0 0;
    }    
    .post-bottom > p {   
        margin: 0.4em 0 0 0; 
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .post-published {
        font-size: 1.4rem;
    }
    .post-bottom {
        margin: 1.5em 0 0 0;
    }    
    .post-bottom > p {   
        margin: 0.4em 0 0 0; 
        font-size: 1.3rem;
    }
}
