/* -------------------------
   To do with the tags page.
   ---------------------- */

.article-area h1 {
    text-align: center;
}
.article-area h2 {
    text-align: center;
}
.article-area h3 {
    text-align: center;
}
.article-area h4 {
    text-align: center;
}
.article-area h5 {
    text-align: center;
}
.article-area h6 {
    text-align: center;
}
.article-area p {
    text-align: center;
}

.article-area .post-tags-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: .75em 0 0 0;
    border: 0;
    padding: 0;
}

.article-area .post-tags-nav p {   
    flex: 0 0 auto; 
    line-height: 1;
    margin: 0.3em 0.3em;
    border: 1px solid black;
    border-radius: 10px;
    padding: .20em .6em;
    background-color: rgba(128, 128, 128, 0.24);
}

@media screen and (min-width: 500px) {
    .article-area .post-tags-nav p  {
        margin: 0.3em 0.3em;
        padding: .25em .75em;
    }
}