/* -------------------------
   To do with the tags page.
   ---------------------- */

.article-area h1 {
    text-align: center;
}
.article-area h2 {
    text-align: center;
}
.article-area h3 {
    text-align: center;
}
.article-area h4 {
    text-align: center;
}
.article-area h5 {
    text-align: center;
}
.article-area h6 {
    text-align: center;
}
.article-area p {
    text-align: center;
}

.article-area .post-tags-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.5em 0 1.5em;
    border: 0;
    padding: 0;
}

.article-area .post-tags-nav p {   
    flex: 0 0 auto; 
    line-height: 1;
    margin: 0.75em 0.2em 0 0.2em;
    border: 0;
    padding: 0
    /* border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.24); */
}

@media screen and (min-width: 500px) {
    .article-area .post-tags-nav  {
        margin: 0 2.5em 0 2.5em;
    }
    .article-area .post-tags-nav p  {
        margin: 0.75em 0.2em 0 0.2em;
    }
}