{%- if site.no_index -%}
    {%- assign _no_index = true -%}
{%- else -%}
    {%- if page.no_index -%}
        {%- assign _no_index = true -%}
    {%- else -%}
        {%- case page.type -%}
            {%- when "articles" -%}
                {%- assign _no_index = true -%}
            {%- when "blog-posts" -%}
                {%- assign _no_index = true -%}
            {%- when "blog-tags" -%}
                {%- assign _no_index = true -%}
            {%- when "blog-tag-posts" -%}
                {%- assign _no_index = true -%}
            {%- when "categories" -%}
                {%- assign _no_index = true -%}
            {%- when "category-articles" -%}
                {%- assign _no_index = true -%}
            {%- when "status-code" -%}
                {%- assign _no_index = true -%}
            {%- when "contact" -%}
                {%- assign _no_index = true -%}
            {%- when "info" -%}
                {%- assign _no_index = true -%}
            {%- else -%}
                {%- assign _no_index = false -%}
        {%- endcase -%}
    {%- endif -%}
{%- endif -%}
