<!DOCTYPE html>
<html lang="en">
<head>
{% include header-html.html -%}
<link rel="stylesheet" href="/assets/css/categories.css">
</head>
<body>
<div class="container">      
{% include header-body.html %}   

<article class="article-area">
<div class="categories">
<main>
    {{ page.content | markdownify }}
    <div class="category-links">
    {% assign _cat=page.category %}
    {% assign _none=true %}
    {% assign _pages=site.pages | sort: "title" %}
    {% for _page in _pages %}
        {% if _page.categories %}
        {% for _pagecat in _page.categories %}
            {% if _pagecat == _cat %}
                {% assign _none=false %}
                <p><a href="{{_page.permalink}}">{{_page.title}}</a></p>
                {% endif %}
        {% endfor %}
        {% endif %} 
    {% endfor %}
    {% if _none %}
        <p>The category has no articles yet.</p>
    {% endif %}
    </div>
</main>    
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
