<!DOCTYPE html>
<html lang="en">
<head>
{% include header-html.html %}
<link rel="stylesheet" href="/assets/css/journal.1.0.css">
</head>
<body>
<div class="container">
{% include header-body.html %} 
{% include blog-post-values-get.html %} 

<article class="main-area">
<div class="journal">
<main>
    <div class="title">
        <h1>{{page.title}}</h1>
        {% if _pPubDate != "Unknown" %}
            <h2>{{_pPubDate}}</h2>
        {% endif %}
    </div>

    {%- if page.previous-journal-page -%}
        {%- assign _urlP = page.previous-journal-page -%}
    {%- else -%}
        {%- assign _urlP = "" -%}
    {%- endif -%}
    
    {%- if page.next-journal-page -%}
        {%- assign _urlN = page.next-journal-page -%}
    {%- else -%}
        {%- assign _urlN = "" -%}
    {%- endif -%}

    <p class="links-top">
        {%- if _urlP != "" and _urlN != "" -%}
            <a href="{{_urlP}}">Previous</a>, <a href="{{_urlN}}">Next</a>   
        {%- else -%}
            {%- if _urlP != "" -%}
                <a href="{{_urlP}}">Previous</a> 
            {%- endif -%}  
            {%- if _urlN != "" -%}
                <a href="{{_urlN}}">Next</a>   
            {%- endif -%}
        {%- endif -%}
    </p>

    <div class="journal-content">
        {{ page.content | markdownify }}
    </div>

    <p class="links-bottom">
        {%- if _urlP != "" and _urlN != "" -%}
            <a href="{{_urlP}}">Previous</a>, <a href="{{_urlN}}">Next</a>   
        {%- else -%}
            {%- if _urlP != "" -%}
                <a href="{{_urlP}}">Previous</a>  
            {%- endif -%}  
            {%- if _urlN != "" -%}
                <a href="{{_urlN}}">Next</a>   
            {%- endif -%}
        {%- endif -%}
    </p>
    
    <section class="journal-bottom">
    {% include blog-post-values-display.html %} 
    </section>
</main>
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
