<!DOCTYPE html>
<html lang="en">
<head>
{% include header-html.html %}
<link rel="stylesheet" href="/assets/css/post-left.1.0.css">
{% if page.css %}
{{ page.css }}
{% endif %}
</head>
<body>
<div class="container">      
{% include header-body.html %}   
{% include blog-post-values-get.html %}  

<article class="main-area">
<div class="post-left">
<main>
    {{ page.content | markdownify }}
    <section class="post-left-bottom">
        {% include blog-post-values-display.html %} 
    </section>
</main>
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
