<!DOCTYPE html>
<html lang="en">
<head>
{% include header-html.html -%}
<link rel="stylesheet" href="/assets/css/post-left.css">
</head>
<body>
<div class="container">
{% include header-body.html %}  

<article class="article-area">
<div class="post-left">
<main>
    {{ page.content | markdownify }}
    
    <section class="post-bottom">
        {% if page.tags.size > 0 %}
            <p> Tags:&nbsp;        
                {%- assign _first = true -%}
                {%- for tag in page.tags -%}
                    {%- if _first -%}
                        {%- assign _first = false -%}
                            <a href="/blog/tags/{{tag | downcase}}/">{{tag}}</a>
                        {%- else -%}
                            ,&nbsp;<a href="/blog/tags/{{tag | downcase}}/">{{tag}}</a>
                        {%- endif -%}
                {%- endfor -%}
            </p>
        {% endif %}
        {% if page.author %}
        <p>Author: {{page.author | strip}}</p>
        {%- endif -%}
        <p>Published: {{page.date | date: "%-d %B %Y"}}</p>
        {% if page.modified -%}
        <p>Last modified: {{page.modified | date: "%-d %B %Y"}}</p>
        {%- endif -%}
    </section>
</main>
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
