<!DOCTYPE html>
<html lang="en">

<head>
{% include header-html.html %}
<link rel="stylesheet" href="/assets/css/tag-post-list.1.0.css">
</head>

<body>
<div class="container">
{% include header-body.html %}   

<article class="main-area">
<div class="tag-post-list">
<main>
  {{page.content | markdownify}}
   
  {%-if paginator.total_posts > 0 -%}
  
    {% assign _tag = page.tag %}
    {% assign _firstpage = true %}
    {%-for _post in paginator.posts -%}
      {% assign _title = "" %}
      {% assign _located = false %}
      {% for _element in _post.summary-title-tags %}
        {% if _located %} 
          {% assign _title = _element %} 
          {% break %} 
        {% endif %}
        {% if _element == _tag %} 
          {% assign _located = true %} 
        {% endif %}
      {% endfor %}

      {% if _title == "" %} 
        {% assign _title = _post.summary-title %} 
      {% endif %}

      {% assign _st = _post.summary-type | downcase %}
      {% if _st == "simple" %}
        {%if _firstpage-%}
          <div class="first-summary">
          {%-assign _firstpage = false-%}
        {%-else-%}
          <div class="subsequent-summary">
        {%-endif%}
        <h2>{{_title}}</h2>
        <div class="summary-bottom">
          {{_post.summary-description | markdownify}}    
          {% if _post.date-formatted  %}
            <p>{{_post.date-formatted}}</p>
          {% else %}
            <p>{{_post.date | date: "%-d %B %Y"}}</p>
          {% endif %}
          <p><a href="{{_post.permalink}}">Read More</a></p>
        </div>
        </div>
        {% continue %}
      {% endif %}
 
    {%- endfor -%} 

    {%- if paginator.total_pages > 1 -%} 

      <div class="subsequent-summary"></div>
      <nav class="nav">
      <p>
        {% for trail in paginator.page_trail %}
          {% assign _size = trail.path | size | minus: 10 %}
          {% assign _path = trail.path | truncate: _size, "" %}
          <a class="nav-item{% if page.dir == _path %} nav-item-cur{% endif %}" href="{{_path}}">{{trail.num}}</a>
        {% endfor %}
      </p>
      </nav>
      
    {%-endif-%}

  {%-else%} 

    <p>No posts have been assigned to the tag yet.</p>
     
  {%-endif%}

</main>
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
