<!DOCTYPE html>
<html lang="en">
<head>

{% include header-html.html %}
<link rel="stylesheet" href="/assets/css/tag-list.1.0.css">
</head>

<body>
<div class="container"> 
{% include header-body.html %}   

<article class="main-area">
<div class="tag-list">
<main>
    {{ page.content | markdownify }}

    <nav class="nav">
    {%- assign _tagpages = site.pages | where: "content-type", "blog-tag-posts" | sort: "tag" %}
    {% for tag in _tagpages %}
        {% if tag.autogen %}
            {% continue %}
        {% endif %} 
        <a href={{tag.dir}}><p>{{tag.tag}}</p></a>
    {% endfor %}
    </nav>

    {%-if _tagpages.size == 0 -%}
        <p>No tags have been specified yet.</p>
    {% endif %} 

</main>
</div>
</article>

{% include footer.html %}            
</div>
</body>
</html>
